@import '../index.scss';

.intro-main-container {
    background: rgb(0, 0, 1);
    background: linear-gradient(106deg, rgba(0, 0, 1, 1) 40%, rgba(42, 42, 42, 0.75) 100%);
}

.intro-main-container-inverted {
    background: $main-blue-dark;
}

.experience-row {
    background: #fff;
    border-top: 1px solid transparent;
}

.experience-row-inverted {
    background: #f7f7f7;
    border-top: 1px solid rgba(34, 36, 38, .15);
}

.ui.header .sub.header>.sub-text-container {
    padding-top: 15px;
}

.ui.grid > .row.sub-row {
    padding: 8rem 0 10rem 0;
    min-height: 500px;
}

.ui.grid > .row.sub-row h1 {
    font-size: 3.5em;
}

.bold-text {
    font-weight: bold;
}

.education-row {
    background: rgb(99,99,99);
    background: linear-gradient(60deg, rgb(85, 85, 85) 20%, rgba(0, 0, 0, 1) 80%);    
}

.education-row-inverted {
    background: $main-blue-dark;
}

.education-container {
    padding-top: 5em;
}

.skills-row {
    background: rgb(136, 136, 136);
    background: linear-gradient(144deg, rgb(192, 192, 192) 0%, rgb(138, 136, 136) 50%, rgb(196, 196, 196) 100%);  
}

@media screen and (max-width: 795px) {
    .skills-row,
    .skills-row-inverted {
        padding: 8rem 2rem 10rem 2rem !important;
    }
}

.skills-row-inverted {
    background: #fff;
}

.ui.fitted.toggle.checkbox.color-slider {   
    position: fixed;
    margin: 30px;
    bottom: 0;
    right: 0;
}