@import '../index.scss';

.top-nav-link {
    height: 100%;
    text-align: center;
}

.ui.menu.floating-nav .main-logo {
    color: #000;
    cursor: pointer;
}

.ui.menu.floating-nav .main-logo-inverted {
    color: $main-blue-dark;
}

.main-logo {
    color: #fff;
    font-size: 4rem;
    font-family: auto;
    font-weight: bold;
}

.ui.inverted.menu a.top-nav-link.item:hover,
.ui.menu a.top-nav-link.item:hover {
    background: transparent;
}

.ui.menu.top-nav {
    height: 75px;
    transition: margin 0.5s ease, background 0.5s ease, box-shadow 0.5s ease, border 0.5s ease;
}

.ui.menu.floating-nav {
    border-bottom: 1px solid #ddd;
    box-shadow: 0px, 2px, 3px, rgba(0, 0, 0, .04)
}

.ui.menu.top-nav-mobile .top-nav-link {
    padding: .5em;
}

.ui.inverted.menu.top-nav {
    background: transparent;
}

.main-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.ui.menu .active.item.top-nav-link,
.ui.menu .active.item.top-nav-link:hover {
    background: transparent;
    pointer-events: none;
}

.top-nav-link-text {
    display: block;
    position: relative;
    padding: .45em 0;
}

@mixin top-nav-underline {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.15em;
    background-color: #fff;
    opacity: 0;
    transition: opacity .3s, transform .3s;
}

    %top-nav-underline {
        @include top-nav-underline;
    }

@mixin top-nav-underline-translate {
    opacity: 1;
    transform: translate3d(0, 0.25em, 0);
}

    %top-nav-underline-translate {
        @include top-nav-underline-translate;
    }

@mixin top-nav-underline-effect {
    opacity: 1;
    transform: scale(0);
    transform-origin: center;
}

    %top-nav-underline-effect {
        @include top-nav-underline-effect;
    }

@mixin top-nav-underline-visibility {
    transform: scale(1);
}

    %top-nav-underline-visibility {
        @include top-nav-underline-visibility;
    }

@mixin top-nav-underline-scale {
    cursor: pointer;
    transform: scale(1.15);
    transition: transform .4s ease;
}

    %top-nav-underline-scale {
        @include top-nav-underline-scale;
    }

.active .top-nav-link-text::after {
    @extend %top-nav-underline;
}

.active .top-nav-link-text::after,
.active .top-nav-link-text:focus::after {
    @extend %top-nav-underline-translate;
}

.active .top-nav-link-text::after {
    @extend %top-nav-underline-effect;
}

.active .top-nav-link-text::after,
.active .top-nav-link-text:focus::after{
    @extend %top-nav-underline-visibility;
}

.active .top-nav-link-text {
    @extend %top-nav-underline-scale;

}

@media screen and (min-width: 795px) {
    .main-logo-container {
        margin-left: 15px;
    }
    
    .top-nav-link-text::after {
        @include top-nav-underline;
    }

    .top-nav-link-text:hover::after,
    .top-nav-link-text:focus::after {
        @include top-nav-underline-translate;
    }

    .top-nav-link-text::after {
        @include top-nav-underline-effect;
    }

    .top-nav-link-text:hover::after,
    .top-nav-link-text:focus::after{
        @include top-nav-underline-visibility;
    }

    .top-nav-link-text:hover {
        @include top-nav-underline-scale;
    }
}

@media screen and (max-width: 795px) {
    .top-nav-link:hover {
        background: transparent !important;
    }
}

.download-container {
    margin-right: 15px;
}

.ui.menu:not(.vertical) .item>.button.resume-button {
    font-size: .85em;
}

.intro-main-container-inverted .ui.menu.floating-nav .item .top-nav-link-text {
    color: $main-blue-dark;
}

.ui.menu.floating-nav .top-nav-link-text::after {
    background-color: #000;
}

.intro-main-container-inverted .ui.menu.floating-nav .top-nav-link-text::after {
    background-color: $main-blue-dark;
}