$main-blue-dark: #002d7c;
$main-blue-light: lighten($main-blue-dark, 15%);
$main-orange-dark: #f48600;
$main-orange-light: lighten($main-orange-dark, 7.5%);

.ui.blue.button {
    background-color: $main-blue-dark;
}

.ui.blue.button:hover,
.ui.blue.button:focus {
  	background-color: darken($main-blue-dark, 5%);
}

.ui.blue.button:active {
  background-color: darken($main-blue-dark, 10%);
}

%invisible-segment {
    background: transparent;
    border: 1px solid transparent;
    box-shadow: none;
}

@media screen and (min-width: 795px) {
	html {
		scroll-snap-type: y mandatory;
	}
	
	body {
		overscroll-behavior-y: none;
	}
	
	.content-container {
	  scroll-snap-align: start;
	  scroll-snap-stop: always;
	}
}



