.intro-container {
    height: 100vh;
    min-height: 700;
    padding: 15rem 0
}

.intro-main-text {
    font-size: 2.5em;
    color: rgba(255, 255, 255, .9);
}

.intro-sub-text {
    font-size: 1.5em;
    color: rgb(150, 150, 150);
}

.ui.button.explore-button {
    margin-top: 30px;
}